<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<h1>Curso de {{curso.name}}</h1>
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
                <ng-container *ngIf="alumnos.length">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Alumnos</span></th>
                                <th><span>ID</span></th>
                                <th class="text-center"><span>Estado</span></th>
                                <th><span>Email</span></th>
                                <!-- <th>&nbsp;</th> -->
                            </tr>
                        </thead>
                        
                        <tbody *ngFor="let alumno of alumnos">
                            <tr>
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                    <p>{{alumno.firstName}} {{alumno.lastName}}</p>
                                </td>
                                <td>
                                    {{alumno.id}}
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">{{alumno.status ? 'aprobado' : 'desaprobado'}}</span>
                                </td>
                                <td>
                                    <a>{{alumno.email}}</a>
                                </td>
                                <!-- <td style="width: 20%;">
                                    <a class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="!alumnos.length">
                    <h2> No hay alumnos inscritos en este curso</h2>
                </ng-container>
			</div>
		</div>
	</div>
</div>
</div>