<nav class="nav flex-column container">
    <a  routerLink="/students/lista" class="nav-link d-flex align-items-center" aria-current="page">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt">
        </mat-icon>
        Alumnos
    </a>
    <a routerLink="/courses/lista" class="nav-link d-flex align-items-center" aria-current="page">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt">
        </mat-icon>
        Cursos 
    </a>
    <a routerLink="/inscriptions/lista" class="nav-link d-flex align-items-center" aria-current="page">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt">
        </mat-icon>
        Inscripciones 
    </a>
    <ng-container *ngIf="isAdmin">
        <a routerLink="/usuarios" class="nav-link d-flex align-items-center" aria-current="page">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list_alt">
            </mat-icon>
            Usuarios 
        </a>
    </ng-container>
    <a (click)="endSesion()" class="nav-link d-flex align-items-center" aria-current="page">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout">
        </mat-icon>
        LogOut 
    </a>
</nav>